* {
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

/****** COLORS ******/

:root {

/* Header section */
--dark-background: #1f2937;
--main-text-bold: #f9faf8;
--secondary-text: #e5e7eb;
--logo-text: #f9faf8;
/* Buttons */
--Buttons-color: #3882f6;
/* Information header text */
--info-h-text: #1f2937;
/* Quote section */
--quote-bg: #e5e7eb;
--quote-txt: #1f2937;
}

/****** TAG SELECTORS ******/
body {
    margin: 0;
    height: 100hv;
    width: 100%;
}
 

/****** CLASS SELECTORS ******/

/* HEADER */

.h-container {
    background-color: var(--dark-background);
    color: var(--secondary-text);
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;

}

.head-1 {
    color: var(--logo-text);
    font-size: 24px;
    
}

.headers {
    color: var(--secondary-text);
    font-weight: 300;
    font-size: 18px;
}
.h-group {
    display:flex;
    align-items: center;
    gap: 1.5rem;
}

/* SECTION 1 */

.main-container {
    background-color: var(--dark-background);
    color: var(--main-text-bold);
    display: flex;
    padding: 0 2.5rem;
}

.main-description {
    color: var(--secondary-text);
    font-weight: 300;
    width: 400px;
}

/* Sing up BUTTON */

.buttons {
    background-color: var(--Buttons-color);
    color: var(--logo-text);
    font-weight: 700;
    border-radius: 7px;
    border: none;
    width: 112px;
    height: 30px;
}

