* {
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

/****** COLORS ******/

:root {

/* Header section */
--dark-background: #1f2937;
--main-text-bold: #f9faf8;
--secondary-text: #e5e7eb;
--logo-text: #f9faf8;
/* Buttons */
--Buttons-color: #3882f6;
/* Information header text */
--info-h-text: #1f2937;
/* Quote section */
--quote-bg: #e5e7eb;
--quote-txt: #1f2937;
}

/****** TAG SELECTORS ******/
body {
    margin: 0;
    height: 100hv;
    width: 100%;
}
 

/****** CLASS SELECTORS ******/

/* HEADER */

.h-container {
    background-color: var(--dark-background);
    color: var(--secondary-text);
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;

}

.head-1 {
    color: var(--logo-text);
    font-size: 24px;
    
}

.headers {
    color: var(--secondary-text);
    font-weight: 300;
    font-size: 18px;
}
.h-group {
    display:flex;
    align-items: center;
    gap: 1.5rem;
}

/* SECTION 1 */

.main-container {
    background-color: var(--dark-background);
    color: var(--main-text-bold);
    display: flex;
    justify-content: space-between;
    padding: 5rem 3.5rem;
}

.awesome-txt {
    font-size: 48px;
    margin: 0;
}

.main-description {
    color: var(--secondary-text);
    font-weight: 300;
    width: 400px;
    margin: 0
}

/* Sing up BUTTON */

.buttons {
    background-color: var(--Buttons-color);
    color: var(--logo-text);
    font-weight: 700;
    border-radius: 7px;
    border: none;
    width: 112px;
    height: 30px;
    margin-top: 1rem;
}

/* PLACEHOLDER */

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.8;
    background-color: gray;
}

/* SECTION 2 */
/* BOXES */

.boxes-container {
    padding: 0 8rem;
}

.random-info {
    text-align: center;
    margin: 40px;

}

.box-desc {
    width: 120px;
    text-align-last: center;
    margin-bottom: 80px ;
    font-size: small;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    height: 120px;
    width: 120px;
    border: 4px solid #3882f6;
    border-radius: 20px;

}

/* SECTION 3 */

.quote-container {
    background-color: var(--quote-bg);
    padding: 80px

}

.q-txt {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align-last: left;
    margin-bottom: 0;
}

.author {
    text-align: right;
    font-weight: 600;
    margin: 0;
    padding-right: 50px;
    
}

/* SECTION 4 */

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.blue-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Buttons-color);
    color: var(--logo-text);
    height: 120px;
    width: 700px;
    border-radius: 6px;

}

.cta-tittle {
    margin-bottom: 0;
    font-size: 100%;
}

.cta-suggestion {
    margin-top: 0;
    font-size: 80%;
}

.button-box {
    display: flex;
    align-items: center;
}

.button2 {
    background-color: var(--Buttons-color);
    color: var(--logo-text);
    font-weight: 700;
    border-radius: 7px;
    border: white solid;
    width: 112px;
    height: 30px;
    margin-top: 1rem;
}
